nav {
    display: flex;
    background-color: rgb(29,161,242);
    justify-content: space-evenly;
    height: 25px;
}

.links{
    /* border: 1px solid white; */
    width: 35%;
}

a:hover{
    cursor: pointer;
}



