body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
}

.explore {
    border: 1.5px solid #90bade;
    flex-wrap: wrap;
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 10%;
}

ul {
    list-style-type: none;
}

.feedin {
    height: 100%;
    width: 35%;
    margin-left: 30%;
}

.three{
    margin-left: 60%;
}


